# Configurações do banco de dados MySQL
DB_HOST=localhost
DB_USER=root
DB_PORT=3306
DB_PASSWORD=MinhaSenhaForte
DB_ROOT_PASSWORD=SenhaRoot
DB_DATABASE=meu_database

# Configurações de autenticação JWT
JWT_SECRET=MinhaChaveSecreta
SECRET_KEY=OutraSenhaSuperSecreta
ALGORITHM=aes-256-ctr
ADMIN_PASSWORD=SenhaAdmin123
ADMIN_EMAIL=admin@dominio.com