# Configurações do banco de dados MySQL
DB_HOST=localhost                # Endereço do servidor de banco de dados (pode ser 'localhost' ou o nome do container se estiver usando Docker)
DB_USER=root                     # Nome de usuário para acessar o banco de dados
DB_PORT=3306                     # Porta do banco de dados (porta padrão do MySQL)
DB_PASSWORD=MinhaSenhaForte      # Senha para o usuário de banco de dados
DB_ROOT_PASSWORD=SenhaRoot       # Senha do usuário root do banco de dados
DB_DATABASE=meu_database         # Nome do banco de dados a ser utilizado pela aplicação

# Configurações de autenticação JWT
JWT_SECRET=MinhaChaveSecreta    # Chave secreta para assinatura dos tokens JWT
SECRET_KEY=OutraSenhaSuperSecreta # Chave adicional para segurança da aplicação (pode ser utilizada para criptografias internas)
ALGORITHM=HS256                  # Algoritmo de criptografia utilizado para gerar tokens JWT (ex: HS256, RS256)

# Configurações do administrador inicial (admin master)
ADMIN_PASSWORD=SenhaAdmin123     # Senha do administrador principal (admin master) após o primeiro login
ADMIN_EMAIL=admin@dominio.com    # E-mail do administrador principal